/* RESET */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.navbar {
    background: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    color: #6a5acd;
    font-weight: 700;
    font-size: 22px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.nav-links .btn {
    background: #6a5acd;
    padding: 8px 14px;
    border-radius: 8px;
    color: white;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to bottom right, #a99fec, #d1c9ff);
    color: white;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-btn {
    background: white;
    color: #6a5acd;
}
/* FEATURES SECTION */
.features {
    padding: 70px 20px;
    text-align: center;
}

.section-title {
    font-size: 30px;
    margin-bottom: 40px;
    color: #6a5acd;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: #6a5acd;
}

.card p {
    color: #555;
    font-size: 15px;
}


/* FORM PAGES */
.form-container {
    width: 400px;
    margin: 90px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.form-container h2 {
    margin-bottom: 10px;
    color: #6a5acd;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 9px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s;
}

form input:focus {
    border-color: #6a5acd;
}

.btn {
    width: 100%;
    margin-top: 20px;
    background: #6a5acd;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.switch-text {
    text-align: center;
    margin-top: 15px;
}

.switch-text a {
    color: #6a5acd;
}
